@model IEnumerable<WebApplication16.Models.posty>

@{
    ViewData["Title"] = "Portal - Strona główna";
}

<!--TODO: WIDOCZNE GDY UZYTKOWNIK JEST NIEZALOGOWANY-->
<!--
<div class="text-center">
    <h1 class="display-4">Witaj na Portalu!</h1>
    <p><a href="/Identity/Account/Login">Zaloguj się</a> lub jeśli nie masz jeszcze konta <a href="/Identity/Account/Register">zarejestruj się</a>!</p>
</div>-->
<!--WIDOCZNE GDY UZYTKOWNIK JEST ZALOGOWANY-->
<h1>HOME/INDEX</h1>