@model IEnumerable<WebApplication16.Models.zdjecia>

@{
    ViewData["Title"] = "Portal - zdjęcia";
}


<h1>Zdjęcia Twoich znajomych</h1>
<a asp-controller="zdjecias" asp-action="Create" class="btn btn-primary">Dodaj zdjęcie</a>
<br />
<br />

@*@foreach (var item in Model)
{
    posty p = item;

    DateTime data = p.getDate(item.data_utworzenia);
    <table class="table" border="1">
        <tr><td><b>Dodał:</b> [imię] [nazwisko]</td></tr>
        <tr><td><b>Dodano:</b> @data</td></tr>
        <tr><td><b>Treść posta:</b>  @Html.DisplayFor(modelItem => item.tresc)</td></tr>
    </table>*@